@model CompareModel 
@{
}

<div class="card card-primary">
    <div class="card-header">
        Select the degree you want to compare to.
    </div>
    <div class="card-body">
        <div style="padding: 10px">
            @using (Html.BeginForm("Submit", "Compare", FormMethod.Post))
            {
                <div class="form">
                    <div class="form-group">
                        <label asp-for="DegreeName"></label>
                    </div>
                    <br/>
                    @Html.DropDownListFor(m => m.CompareDegree, Model.DegreeName.Select(x => new SelectListItem(x, x)), "Select a Degree", new { @class = "selector form-control" })

                </div>
            }
        </div>
    </div>
</div>