@{
    ViewData["Title"] = "xCourse";
}

<div class="text-center">
    <h1 class="display-4">Welcome to xCourse</h1>
    <h4> You're guide to making degree planning, scheduling, and tracking easier.</h4>

</div>
