@{
    ViewData["Title"] = "About";
}




    <h1>@ViewData["Title"]</h1>

    <p>This is not assoicated with LSU in any way. We do not collect any data.</p>
    <p>This concept is brought to you by Seth Richard, Ferris DeHart, and Nick Settoon. </p>
